.main{
    background-image: url("fondo-curious.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.text-button{
    height: 55vh;
    width: 120vh;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: column;
}
.doyou{
    color: #02316b;
}
.text-fact{
    height: 40vh;
    text-align: center;
    font-size: 25px;
    color:white;
    font-style: oblique;
}
.view{
    padding-left: 4vh;
    padding-right: 4vh;
    height: 20vh;
    align-content: center;
}
.buttons{
    display: flex;
    text-align: center;
    height: 5vh;
    justify-content: space-evenly;
}
#clickfact{
    background-color: #1484f5;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-color: #1484f5;
    border-width: 5px;
    border-radius: 25px;
    height: 40px;
    padding: 5px;
}
#buttonloveit{
    background-color: white;
    color: #1484f5;
    font-weight: bold;
    font-size: 16px;
    border-color: #1484f5;
    border-width: 5px;
    border-radius: 25px;
    height: 40px;
    padding: 5px;
}

.allFavorites{
    height: 55vh;
    width: 120vh;
    align-self: flex-end;
    padding-right: 10px;
}
.seccfavorite{
    font-size: 25px;
    color:white;
    font-style: oblique;
}
.titlefav{
    color: #7d046b;
    font-size: 25px;
}
#favorite-List{
    color:white;
    font-size: 14px;
}